<ion-header>
    <ion-navbar color="block1">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Draf Aduan</ion-title>
    </ion-navbar>
  </ion-header>
  
  
  <ion-content padding id="draf">
      <ion-list *ngFor="let p of aduan; let i = index">
          <ion-item-sliding >
            <ion-item>
              <h2>{{i+1}}) {{p.tarikh}}</h2>
              <p>{{p.title}}</p>
              <ion-badge item-end color="draf">Draf</ion-badge>
            </ion-item>
            <ion-item-options side="right">
                <button ion-button (click)="unread(item)"color="danger">Hapus</button>
              </ion-item-options>
          </ion-item-sliding>
        </ion-list>
        <ion-list *ngIf="aduan.length == 0">
            <ion-item-sliding >
              <ion-item>
                <h2>Tiada Rekod</h2>
              </ion-item>
            </ion-item-sliding>
          </ion-list>
  </ion-content>
  