page-home {
    #home{
        background: color($colors, light);
        h1{
            font-size: 13px;
            margin: 0px 0px;
            text-transform: capitalize;
            color: map-get($map: $colors, $key: primary);
        }

        height: 100%;
        vertical-align: middle;

        ion-icon {
            font-size: 20px;
          }
        
          ion-row {
            height: 100%;
            flex-wrap: wrap;
          }
        
          ion-col {
            flex: 0 0 25%;
            max-width: 25%;
            text-align: center;
            padding: 5px 5px;
          }

          .list .item {
            background-color: map-get($map: $colors, $key: energy);
            border-width: 0px;
            border-style: ridge;
            border-color: #C0C0C0;
          }
          
          .card {
            background-color: map-get($map: $colors, $key: energy);
            //color: map-get($map: $colors, $key: primary);
            //color : #e74c3c;
            margin-bottom:30px;
            border-width: 0px;
            
          }

          .alertCustomCss {
            color: white; // text color for basic alerts
            button {
                color: white !important;
                background-color: color($colors, secondary, base) !important;
            }
            .alert-message {
                color: white; // text color for confirm alerts
            }
            .alert-wrapper {
                background-color: color($colors, dark, base);
            }
          }
    }
}

.grid-basic-page {

    ion-col div {
      background-color: #f0f5ff;
      border: 1px solid #e6e9ee;
      border-radius: 2px;
      padding: 5px;
      text-align: center;
    }
  
    p {
      padding: 10px 0 0 10px !important;
      margin: 0;
    }
  
  }
  .alertcss{
    color:#e74c3c;
    }

    .action-sheets-basic-page {
      //font-size: 70px;
      .ion-md-share {
        color: #ED4248;
      }
      .ion-md-arrow-dropright-circle {
        color: #508AE4;
      }
      .ion-md-heart-outline {
        color: #31D55F;
      }
      .action-sheet-cancel ion-icon,
      .action-sheet-destructive ion-icon {
        color: #757575;
      }
    }