page-add {
    #add{
        background: color($colors, energy);
        h1{
            font-size: 32px;
            margin-top: 50px;
            color: #ffffff;
        }

        height: 100%;
        vertical-align: middle;
    }
}
