page-signin {
    #signin{
        background: color($colors, energy);
        h1{
            font-size: 32px;
            margin-top: 50px
        }

        height: 100%;
        vertical-align: middle;
    }
}
