<ion-header>
    <ion-navbar color="block1">
      <ion-title>Aduan Trafik</ion-title>
    </ion-navbar>
  </ion-header>


<ion-content padding>
<!-- 
  <button ion-button full (click)="takePhoto()" >
  <ion-icon name="camera"></ion-icon>Take Photo
  </button>

  <ion-col col-6 *ngFor="let photo of photos; let id = index">
    <ion-card class="block">
      <ion-icon name="trash" class="deleteIcon" (click)="deletePhoto(id)"></ion-icon>
      <img [src]="photo" *ngIf="photo" />
    </ion-card>
</ion-col> -->

<ion-img src="images/camera.png" (click)="aduan()"></ion-img>
</ion-content>
